/* SPDX-License-Identifier: BSD-3-Clause
 * Copyright (c) 2025 - present Mikael Sundell
 * https://github.com/mikaelsundell/stageviz
 */

QMainWindow,
QDialog
{
    color: $color.text;
    font-size: $font.size.medium;
    background-color: $color.base;
}

QMainWindow::separator {
    background: $color.basealt;
    width: 6px;
}

QWidget[MainWidget="true"] {
    background-color: $color.basealt;
}

QWidget[DockWidget="true"] {
    background-color: $color.dock;
}

QCheckBox {
    color: $color.text;
    background-color: transparent;
    font-size: $font.size.medium;
    spacing: 8px;
    padding-right: 10px;
}

QCheckBox::indicator {
    width: 18px;
    height: 18px;
    background-color: $color.basealt;
    border: 1px solid $color.borderalt;
}

QCheckBox::indicator:checked {
    image: url("$icon.checked");
}

QCheckBox::indicator:indeterminate {
    image: url("$icon.partiallychecked");
}

QComboBox {
    color: $color.text;
    font-size: $font.size.medium;
    background-color: $color.basealt;
    height: 24px;
    padding-left: 10px;
    padding-right: 28px;
    border-radius: 0px;
    margin-top: 4px;
    border: 1px solid $color.borderalt;
    outline: none;
}

QComboBox QAbstractItemView {
    color: $color.text;
    background-color: $color.basealt;
    selection-background-color: $color.highlight;
    selection-color: $color.text;
    border: 1px solid $color.borderalt;
    outline: none;
}

QComboBox:disabled {
    color: $color.text.disabled;
}

QComboBox::drop-down {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 24px;
    border: 0px;
    background-color: transparent;
}

QComboBox::down-arrow {
    image: url("$icon.dropdown");
    width: 12px;
    height: 12px;
}

QComboBox::item {
    color: $color.text;
    height: 10px;
    background-color: $color.basealt;
    border: 8px solid transparent;
}

QComboBox QAbstractItemView::item {
    color: $color.text;
    background-color: $color.basealt;
}

QComboBox::item:selected {
    background: $color.highlight;
}

QComboBox QAbstractItemView::item:selected {
    background-color: $color.highlight;
    color: $color.text;
}

QDockWidget {
    background: $color.dock;
}

QFrame {
    border: 1px solid $color.border;
}

QGroupBox
{
    color: $color.text;
    font-size: $font.size.medium;
    background-color: $color.base;
    border: 1px solid $color.borderalt;
    margin-top: 10px;
    padding-top: 12px;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top left;
    color: $color.text;
    padding: 0px 6px;
    left: 8px;
    background-color: $color.base;
}

QLabel
{
    font-size: $font.size.medium;
    color: $color.text;
    border: 0px;
}

QLineEdit
{
    color: $color.text;
    font-size: $font.size.medium;
    background-color: $color.basealt;
    selection-background-color: $color.highlight;
    height: 18px;  
    min-height: 18px;  
    min-width: 50px;      
    border: 1px solid $color.borderalt;
    border-radius: 0px;        
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

QListWidget {
    color: $color.text;
    background-color: $color.basealt;
    border: 1px solid $color.borderalt;
    outline: none;
    padding: 0px;
}

QListWidget::item {
    color: $color.text;
    background-color: $color.basealt;
    border: 0px;
    margin: 4px;
    padding: 0px;
}

QListWidget::item:selected {
    color: $color.text;
    background-color: $color.highlight;
    border: 1px solid $color.highlight;
}

QMenuBar {
    background-color: $color.base;
    color: $color.text;
    border: 0px;
    spacing: 0px;
    padding: 2px;
}

QMenuBar::item {
    background: transparent;
    color: $color.text;
    padding: 6px 12px;
    margin: 0px;
}

QMenuBar::item:selected {
    background-color: $color.highlight;
    color: $color.text;
}

QMenuBar::item:pressed {
    background-color: $color.highlight;
    color: $color.text;
}

QMenu {
    background-color: $color.basealt;
    border: 1px solid $color.borderalt;
    padding: 4px;
}

QMenu::item {
    color: $color.text;
    font-size: $font.size.medium;
    background-color: transparent;
    padding: 4px 20px 4px 20px;
}

QMenu::item:disabled {
    color: $color.text.disabled;
    background-color: transparent;
}

QMenu::item:selected {
    background-color: $color.highlight;
}

QMenu::separator {
    height: 1px;
    margin: 4px 4px;
    background-color: $color.borderalt;
}

QMenu::indicator {
    width: 16px;
    height: 16px;
}

QMenu::indicator:checked {
    image: url("$icon.checked");
}

QMenu::indicator:indeterminate {
    image: url("$icon.partiallychecked");
}

QMenu::indicator:unchecked {
    image: none;
}

QMenu::right-arrow {
    width: 16px;
    height: 16px;
    image: url("$icon.right");
}

QMenu::left-arrow {
    width: 16px;
    height: 16px;
    image: url("$icon.left");
}

QProgressBar {
    min-height: 10px;
    max-height: 10px; 
    border-radius: 4px;
    background-color: $color.basealt;
}

QPlainTextEdit
{
    font-family: "Menlo", "Consolas", "Courier New", monospace;
    font-size: $font.size.small;
    color: $color.text;
    background-color: $color.basealt;
    selection-background-color: $color.highlight;
    selection-color: $color.text;
    border: 1px solid $color.borderalt;
    outline: none;
    padding: 6px;
}

QPlainTextEdit:disabled
{
    color: $color.text.disabled;
    background-color: $color.basealt;
    selection-background-color: $color.basealt;
    selection-color: $color.text.disabled;
}

QProgressBar {
    color: $color.text;
}

QProgressBar::chunk {
    border-radius: 4px;
    background-color: $color.highlight;
}

QPushButton
{
    color: $color.text;
    background-color: $color.button;
    font-size: $font.size.small;
    height: 20px;  
    min-width: 50px;      
    border: 1px solid $color.borderalt;
    border-radius: 0px;        
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

QPushButton:default
{
    font-weight: bold;
}

QPushButton:disabled
{
    color: $color.text.disabled;
}

QPushButton:pressed
{
    background-color: $color.borderalt;
}

QScrollArea
{
    background-color: $color.base;
    border: 1px solid $color.borderalt;
}

QScrollArea > QWidget > QWidget
{
    background-color: $color.base;
}

QScrollBar:horizontal {
    background: $color.basealt;
    height: 16px;
    margin: 0;
    border: none;
}

QScrollBar::handle:horizontal {
    background: $color.handle;
    min-width: 20px;
    border-radius: 4px;
    margin: 4px 4px;
}

QScrollBar::handle:horizontal:hover {
    background: $color.handle;
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    background: none;
    width: 0;
}

QScrollBar::left-arrow:horizontal,
QScrollBar::right-arrow:horizontal {
    background: none;
    width: 0;
    height: 0;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background: $color.basealt;
    width: 16px;
    margin: 0;
    border: none;
}

QScrollBar::handle:vertical {
    background: $color.handle;
    min-height: 20px;
    border-radius: 4px;
    margin: 4px 4px;
}

QScrollBar::handle:vertical:hover {
    background:$color.handle;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    background: none;
    height: 0;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    background: none;
    width: 0;
    height: 0;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

QAbstractScrollArea::corner { 
    background: $color.basealt;
}

QSpinBox,
QDoubleSpinBox,
QAbstractSpinBox
{
    color: $color.text;
    font-size: $font.size.medium;
    background-color: $color.basealt;
    selection-background-color: $color.highlight;
    height: 24px;
    min-height: 24px;
    border: 1px solid $color.borderalt;
    border-radius: 0px;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 20px;
}

QSpinBox::up-button,
QSpinBox::down-button,
QDoubleSpinBox::up-button,
QDoubleSpinBox::down-button
{
    subcontrol-origin: border;
    width: 28px;
    border: 0px;
    background: transparent;
}

QSpinBox::up-arrow,
QDoubleSpinBox::up-arrow
{
    width: 10px;
    height: 10px;
    image: url("$icon.up");
}

QSpinBox::down-arrow,
QDoubleSpinBox::down-arrow
{
    width: 10px;
    height: 10px;
    image: url("$icon.down");
}

QSplitter::handle {
    background-color: $color.dock;
    height: 5px;
}

QStatusBar {
    font-size: $font.size.medium;
    color: $color.text;
    background: $color.dock;
}

QTabWidget::pane
{
    background-color: $color.item;
    border-left: 1px solid $color.borderalt;
    border-right: 1px solid $color.borderalt;
    border-bottom: 1px solid $color.borderalt;
    border-top: 0px;
    top: 0px;
}

QTabWidget::tab-bar
{
    alignment: left;
}

QTabBar
{
    background: $color.itemalt;
}

QTabBar::tab
{
    font-size: $font.size.medium;
    color: $color.text;
    background-color: $color.itemalt;
    border-top: 1px solid $color.borderalt;
    border-left: 1px solid $color.borderalt;
    border-right: 1px solid $color.borderalt;
    border-bottom: 1px solid $color.borderalt;
    padding: 4px 8px;
    margin: 0px;
    margin-right: -1px;
    min-width: 60px;
}

QTabBar::tab:selected
{
    color: $color.text;
    background-color: $color.item;
    border-bottom-color: $color.item;
}

QTabBar::tab:!selected
{
    color: $color.text;
    background-color: $color.itemalt;
}

QTabBar::tab:hover:!selected
{
    background-color: $color.item;
}

QTabBar QToolButton
{
    color: $color.text;
    background-color: $color.itemalt;
    border: 1px solid $color.borderalt;
    padding: 0px;
    margin: 0px;
    min-width: 22px;
    max-width: 22px;
    min-height: 34px;
    max-height: 34px;
}

QTabBar QToolButton:hover,
QTabBar QToolButton:pressed
{
    background-color: $color.item;
}

QTabBar QToolButton::menu-indicator
{
    image: none;
}

QTextBrowser
{
    font-size: $font.size.medium;
    color: $color.text;
    background-color: $color.basealt;
    selection-background-color: $color.highlight;
    alternate-background-color: $color.basealt;
}

QTextEdit
{
    font-family: "Menlo", "Consolas", "Courier New", monospace;
    font-size: $font.size.small;
    color: $color.text;
    background-color: $color.basealt;
    selection-background-color: $color.highlight;
    selection-color: $color.text;
    border: 1px solid $color.borderalt;
    outline: none;
    padding: 6px;
}

QTextEdit:disabled
{
    color: $color.text.disabled;
    background-color: $color.basealt;
    selection-background-color: $color.basealt;
    selection-color: $color.text.disabled;
}

QToolButton
{
    color: $color.text;
    background-color: $color.button;
    border: 1px solid $color.borderalt;
    border-radius: 0px;
    height: 18px;  
    min-height: 18px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

QToolButton:default
{
    font-weight: bold;
}

QToolButton:disabled
{
    color: $color.text.disabled;
}

QToolButton:checked
{
    background-color: $color.button.lightness(160);
}

QToolButton:pressed
{
    background-color: $color.borderalt;
}

QSlider {
    background: transparent;
}

QSlider::groove:horizontal {
    height: 4px;
    border-radius: 4px;
    background: $color.basealt;
}

QSlider::handle:horizontal {
    width: 8px;
    background: $color.handle;
    border-radius: 4px;
    margin: -5px 0;
}

QSplitter
{
    border: 0px;
}

QTableView
{
    color: $color.text;
    font-size: $font.size.medium;
    outline: none;
    border: 1px solid $color.borderalt;
    background-color: $color.item;
    selection-background-color: $color.highlight;
    gridline-color: $color.borderalt;
}

QTableView QHeaderView
{
    background-color: $color.basealt;
    border: none;
}

QTableView QHeaderView::section
{
    color: $color.text;
    background-color: $color.basealt;
    border: none;
    padding: 4px 6px;
}

QTableView::item
{
    height: 28px;
    color: $color.text;
    background-color: $color.item;
    selection-background-color: $color.highlight;
}

QHeaderView
{
    background-color: $color.basealt;
    border: none;
}

QHeaderView::section
{
    color: $color.text;
    background-color: $color.basealt;
    border: none;
    padding: 4px 6px;
}

QTreeView
{
    color: $color.text;
    font-size: $font.size.medium;
    outline: none;
    border: 1px solid $color.borderalt;
    background-color: $color.item;
    selection-background-color: $color.highlight;
}

QTreeView QHeaderView
{
    background-color: $color.basealt;
    border: none;
    font-size: $font.size.medium;
}

QTreeView QHeaderView:section
{
    color: $color.text;
    background-color: $color.basealt;
    border: none;
    padding: 4px 6px;
}

QTreeView::item {
    height: 28px;
    color: $color.text;
    selection-background-color: $color.highlight;
}